services:

  homecloud-api:
    build: .
    env_file:
      - .env
    ports:
      - '8080:8080'
    depends_on:
      - postgres
      - rabbitmq
  postgres:
    image: 'postgres:latest'
    env_file:
      - .env
    ports:
      - '5432'
  rabbitmq:
    image: 'rabbitmq:latest'
    env_file:
      - .env
    ports:
      - '5672'
